*{
    margin: -1px;
    padding: -1px;
}

.cabecalho{
    background-color: rgb(118, 142, 223);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 11px 0;
    font-size: 26px;
}
.cabecalhoListaItem{
display:inline-block;
margin: 23px 3px;
padding: 8px 3px 0;

}