*{
    margin: -1px;
    padding: -1px;
}

.cabecalho{
    background-color: rgb(118, 142, 223);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 11px 0;
    font-size: 26px;
}
.cabecalhoListaItem{
display:inline-block;
margin: 23px 3px;
padding: 8px 3px 0;

}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear gradient(#FFFFFF. #FFFFFF);
        color: orange;
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 100px 50px;
}